body {
    font-family: 'Poppins';
    margin: 0;
}

/*- Changing Font style--*/
h1 {
    font-size: 350%;
}

/*-Changing font size--*/
.Orange-Color {
    color: orange;
}

/*- Making the text "Pronob's" Orange --*/
.half-width {
    width: 50%;
    padding-left: 5%;
    margin: 30px 30px;
}

/*- adjusting text and image allignment--*/
.half-width img {
    width: 85%;
}

/*- It's adjusting the width of the image of the half width class--*/
.flexible-containner {
    display: flex;
    margin-bottom: 5%;

}


/*-arranging elements under the section tag flexibly--*/
.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(39, 226, 255), rgb(0, 30, 255));
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;
}

.first-sec {
    background-image: url(/developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}

#blue {
    color: rgb(0, 30, 255);
}

.second-sec {
    background-image: url(/developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.left {
    padding-right: 18%;
    text-align: justify;
}